/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@error-angle-x: 0px;
@error-angle-y: 0px;
@error-angle-offset-x: 0px;
@error-angle-offset-y: 0px;
@error-angle-width: 20px;
@error-angle-height: 15px;
@error-angle-total-width: 219px;
@error-angle-total-height: 1886px;
@error-angle-image: '../img/sprites/spritesheet.png';
@error-angle: 0px 0px 0px 0px 20px 15px 219px 1886px '../img/sprites/spritesheet.png';
@icon-android-1-x: 0px;
@icon-android-1-y: 342px;
@icon-android-1-offset-x: 0px;
@icon-android-1-offset-y: -342px;
@icon-android-1-width: 30px;
@icon-android-1-height: 35px;
@icon-android-1-total-width: 219px;
@icon-android-1-total-height: 1886px;
@icon-android-1-image: '../img/sprites/spritesheet.png';
@icon-android-1: 0px 342px 0px -342px 30px 35px 219px 1886px '../img/sprites/spritesheet.png';
@icon-android-2-x: 0px;
@icon-android-2-y: 377px;
@icon-android-2-offset-x: 0px;
@icon-android-2-offset-y: -377px;
@icon-android-2-width: 30px;
@icon-android-2-height: 35px;
@icon-android-2-total-width: 219px;
@icon-android-2-total-height: 1886px;
@icon-android-2-image: '../img/sprites/spritesheet.png';
@icon-android-2: 0px 377px 0px -377px 30px 35px 219px 1886px '../img/sprites/spritesheet.png';
@icon-android-3-x: 0px;
@icon-android-3-y: 412px;
@icon-android-3-offset-x: 0px;
@icon-android-3-offset-y: -412px;
@icon-android-3-width: 30px;
@icon-android-3-height: 35px;
@icon-android-3-total-width: 219px;
@icon-android-3-total-height: 1886px;
@icon-android-3-image: '../img/sprites/spritesheet.png';
@icon-android-3: 0px 412px 0px -412px 30px 35px 219px 1886px '../img/sprites/spritesheet.png';
@icon-apple-1-x: 0px;
@icon-apple-1-y: 311px;
@icon-apple-1-offset-x: 0px;
@icon-apple-1-offset-y: -311px;
@icon-apple-1-width: 25px;
@icon-apple-1-height: 31px;
@icon-apple-1-total-width: 219px;
@icon-apple-1-total-height: 1886px;
@icon-apple-1-image: '../img/sprites/spritesheet.png';
@icon-apple-1: 0px 311px 0px -311px 25px 31px 219px 1886px '../img/sprites/spritesheet.png';
@icon-apple-2-x: 0px;
@icon-apple-2-y: 280px;
@icon-apple-2-offset-x: 0px;
@icon-apple-2-offset-y: -280px;
@icon-apple-2-width: 25px;
@icon-apple-2-height: 31px;
@icon-apple-2-total-width: 219px;
@icon-apple-2-total-height: 1886px;
@icon-apple-2-image: '../img/sprites/spritesheet.png';
@icon-apple-2: 0px 280px 0px -280px 25px 31px 219px 1886px '../img/sprites/spritesheet.png';
@icon-apple-3-x: 0px;
@icon-apple-3-y: 249px;
@icon-apple-3-offset-x: 0px;
@icon-apple-3-offset-y: -249px;
@icon-apple-3-width: 25px;
@icon-apple-3-height: 31px;
@icon-apple-3-total-width: 219px;
@icon-apple-3-total-height: 1886px;
@icon-apple-3-image: '../img/sprites/spritesheet.png';
@icon-apple-3: 0px 249px 0px -249px 25px 31px 219px 1886px '../img/sprites/spritesheet.png';
@icon-avia-x: 0px;
@icon-avia-y: 1496px;
@icon-avia-offset-x: 0px;
@icon-avia-offset-y: -1496px;
@icon-avia-width: 71px;
@icon-avia-height: 70px;
@icon-avia-total-width: 219px;
@icon-avia-total-height: 1886px;
@icon-avia-image: '../img/sprites/spritesheet.png';
@icon-avia: 0px 1496px 0px -1496px 71px 70px 219px 1886px '../img/sprites/spritesheet.png';
@icon-close-hover-x: 0px;
@icon-close-hover-y: 81px;
@icon-close-hover-offset-x: 0px;
@icon-close-hover-offset-y: -81px;
@icon-close-hover-width: 24px;
@icon-close-hover-height: 24px;
@icon-close-hover-total-width: 219px;
@icon-close-hover-total-height: 1886px;
@icon-close-hover-image: '../img/sprites/spritesheet.png';
@icon-close-hover: 0px 81px 0px -81px 24px 24px 219px 1886px '../img/sprites/spritesheet.png';
@icon-close-x: 0px;
@icon-close-y: 57px;
@icon-close-offset-x: 0px;
@icon-close-offset-y: -57px;
@icon-close-width: 24px;
@icon-close-height: 24px;
@icon-close-total-width: 219px;
@icon-close-total-height: 1886px;
@icon-close-image: '../img/sprites/spritesheet.png';
@icon-close: 0px 57px 0px -57px 24px 24px 219px 1886px '../img/sprites/spritesheet.png';
@icon-corporate-lg-x: 0px;
@icon-corporate-lg-y: 741px;
@icon-corporate-lg-offset-x: 0px;
@icon-corporate-lg-offset-y: -741px;
@icon-corporate-lg-width: 36px;
@icon-corporate-lg-height: 48px;
@icon-corporate-lg-total-width: 219px;
@icon-corporate-lg-total-height: 1886px;
@icon-corporate-lg-image: '../img/sprites/spritesheet.png';
@icon-corporate-lg: 0px 741px 0px -741px 36px 48px 219px 1886px '../img/sprites/spritesheet.png';
@icon-hotels-x: 0px;
@icon-hotels-y: 1426px;
@icon-hotels-offset-x: 0px;
@icon-hotels-offset-y: -1426px;
@icon-hotels-width: 72px;
@icon-hotels-height: 70px;
@icon-hotels-total-width: 219px;
@icon-hotels-total-height: 1886px;
@icon-hotels-image: '../img/sprites/spritesheet.png';
@icon-hotels: 0px 1426px 0px -1426px 72px 70px 219px 1886px '../img/sprites/spritesheet.png';
@icon-logo-scroll-x: 0px;
@icon-logo-scroll-y: 615px;
@icon-logo-scroll-offset-x: 0px;
@icon-logo-scroll-offset-y: -615px;
@icon-logo-scroll-width: 200px;
@icon-logo-scroll-height: 42px;
@icon-logo-scroll-total-width: 219px;
@icon-logo-scroll-total-height: 1886px;
@icon-logo-scroll-image: '../img/sprites/spritesheet.png';
@icon-logo-scroll: 0px 615px 0px -615px 200px 42px 219px 1886px '../img/sprites/spritesheet.png';
@icon-logo-x: 0px;
@icon-logo-y: 1166px;
@icon-logo-offset-x: 0px;
@icon-logo-offset-y: -1166px;
@icon-logo-width: 219px;
@icon-logo-height: 60px;
@icon-logo-total-width: 219px;
@icon-logo-total-height: 1886px;
@icon-logo-image: '../img/sprites/spritesheet.png';
@icon-logo: 0px 1166px 0px -1166px 219px 60px 219px 1886px '../img/sprites/spritesheet.png';
@icon-menu-hover-x: 0px;
@icon-menu-hover-y: 189px;
@icon-menu-hover-offset-x: 0px;
@icon-menu-hover-offset-y: -189px;
@icon-menu-hover-width: 30px;
@icon-menu-hover-height: 30px;
@icon-menu-hover-total-width: 219px;
@icon-menu-hover-total-height: 1886px;
@icon-menu-hover-image: '../img/sprites/spritesheet.png';
@icon-menu-hover: 0px 189px 0px -189px 30px 30px 219px 1886px '../img/sprites/spritesheet.png';
@icon-menu-x: 0px;
@icon-menu-y: 219px;
@icon-menu-offset-x: 0px;
@icon-menu-offset-y: -219px;
@icon-menu-width: 30px;
@icon-menu-height: 30px;
@icon-menu-total-width: 219px;
@icon-menu-total-height: 1886px;
@icon-menu-image: '../img/sprites/spritesheet.png';
@icon-menu: 0px 219px 0px -219px 30px 30px 219px 1886px '../img/sprites/spritesheet.png';
@icon-mouse-x: 0px;
@icon-mouse-y: 837px;
@icon-mouse-offset-x: 0px;
@icon-mouse-offset-y: -837px;
@icon-mouse-width: 20px;
@icon-mouse-height: 49px;
@icon-mouse-total-width: 219px;
@icon-mouse-total-height: 1886px;
@icon-mouse-image: '../img/sprites/spritesheet.png';
@icon-mouse: 0px 837px 0px -837px 20px 49px 219px 1886px '../img/sprites/spritesheet.png';
@icon-operators-lg-x: 0px;
@icon-operators-lg-y: 936px;
@icon-operators-lg-offset-x: 0px;
@icon-operators-lg-offset-y: -936px;
@icon-operators-lg-width: 50px;
@icon-operators-lg-height: 50px;
@icon-operators-lg-total-width: 219px;
@icon-operators-lg-total-height: 1886px;
@icon-operators-lg-image: '../img/sprites/spritesheet.png';
@icon-operators-lg: 0px 936px 0px -936px 50px 50px 219px 1886px '../img/sprites/spritesheet.png';
@icon-operators-x: 0px;
@icon-operators-y: 1356px;
@icon-operators-offset-x: 0px;
@icon-operators-offset-y: -1356px;
@icon-operators-width: 72px;
@icon-operators-height: 70px;
@icon-operators-total-width: 219px;
@icon-operators-total-height: 1886px;
@icon-operators-image: '../img/sprites/spritesheet.png';
@icon-operators: 0px 1356px 0px -1356px 72px 70px 219px 1886px '../img/sprites/spritesheet.png';
@icon-reg-1-x: 0px;
@icon-reg-1-y: 489px;
@icon-reg-1-offset-x: 0px;
@icon-reg-1-offset-y: -489px;
@icon-reg-1-width: 44px;
@icon-reg-1-height: 42px;
@icon-reg-1-total-width: 219px;
@icon-reg-1-total-height: 1886px;
@icon-reg-1-image: '../img/sprites/spritesheet.png';
@icon-reg-1: 0px 489px 0px -489px 44px 42px 219px 1886px '../img/sprites/spritesheet.png';
@icon-reg-2-x: 0px;
@icon-reg-2-y: 789px;
@icon-reg-2-offset-x: 0px;
@icon-reg-2-offset-y: -789px;
@icon-reg-2-width: 36px;
@icon-reg-2-height: 48px;
@icon-reg-2-total-width: 219px;
@icon-reg-2-total-height: 1886px;
@icon-reg-2-image: '../img/sprites/spritesheet.png';
@icon-reg-2: 0px 789px 0px -789px 36px 48px 219px 1886px '../img/sprites/spritesheet.png';
@icon-reg-3-x: 0px;
@icon-reg-3-y: 886px;
@icon-reg-3-offset-x: 0px;
@icon-reg-3-offset-y: -886px;
@icon-reg-3-width: 50px;
@icon-reg-3-height: 50px;
@icon-reg-3-total-width: 219px;
@icon-reg-3-total-height: 1886px;
@icon-reg-3-image: '../img/sprites/spritesheet.png';
@icon-reg-3: 0px 886px 0px -886px 50px 50px 219px 1886px '../img/sprites/spritesheet.png';
@icon-services-1-x: 0px;
@icon-services-1-y: 1226px;
@icon-services-1-offset-x: 0px;
@icon-services-1-offset-y: -1226px;
@icon-services-1-width: 60px;
@icon-services-1-height: 60px;
@icon-services-1-total-width: 219px;
@icon-services-1-total-height: 1886px;
@icon-services-1-image: '../img/sprites/spritesheet.png';
@icon-services-1: 0px 1226px 0px -1226px 60px 60px 219px 1886px '../img/sprites/spritesheet.png';
@icon-services-2-x: 0px;
@icon-services-2-y: 986px;
@icon-services-2-offset-x: 0px;
@icon-services-2-offset-y: -986px;
@icon-services-2-width: 60px;
@icon-services-2-height: 60px;
@icon-services-2-total-width: 219px;
@icon-services-2-total-height: 1886px;
@icon-services-2-image: '../img/sprites/spritesheet.png';
@icon-services-2: 0px 986px 0px -986px 60px 60px 219px 1886px '../img/sprites/spritesheet.png';
@icon-services-3-x: 0px;
@icon-services-3-y: 1046px;
@icon-services-3-offset-x: 0px;
@icon-services-3-offset-y: -1046px;
@icon-services-3-width: 60px;
@icon-services-3-height: 60px;
@icon-services-3-total-width: 219px;
@icon-services-3-total-height: 1886px;
@icon-services-3-image: '../img/sprites/spritesheet.png';
@icon-services-3: 0px 1046px 0px -1046px 60px 60px 219px 1886px '../img/sprites/spritesheet.png';
@icon-services-4-x: 0px;
@icon-services-4-y: 1106px;
@icon-services-4-offset-x: 0px;
@icon-services-4-offset-y: -1106px;
@icon-services-4-width: 60px;
@icon-services-4-height: 60px;
@icon-services-4-total-width: 219px;
@icon-services-4-total-height: 1886px;
@icon-services-4-image: '../img/sprites/spritesheet.png';
@icon-services-4: 0px 1106px 0px -1106px 60px 60px 219px 1886px '../img/sprites/spritesheet.png';
@icon-services-arrow-hover-x: 0px;
@icon-services-arrow-hover-y: 36px;
@icon-services-arrow-hover-offset-x: 0px;
@icon-services-arrow-hover-offset-y: -36px;
@icon-services-arrow-hover-width: 12px;
@icon-services-arrow-hover-height: 21px;
@icon-services-arrow-hover-total-width: 219px;
@icon-services-arrow-hover-total-height: 1886px;
@icon-services-arrow-hover-image: '../img/sprites/spritesheet.png';
@icon-services-arrow-hover: 0px 36px 0px -36px 12px 21px 219px 1886px '../img/sprites/spritesheet.png';
@icon-services-arrow-normal-x: 0px;
@icon-services-arrow-normal-y: 15px;
@icon-services-arrow-normal-offset-x: 0px;
@icon-services-arrow-normal-offset-y: -15px;
@icon-services-arrow-normal-width: 12px;
@icon-services-arrow-normal-height: 21px;
@icon-services-arrow-normal-total-width: 219px;
@icon-services-arrow-normal-total-height: 1886px;
@icon-services-arrow-normal-image: '../img/sprites/spritesheet.png';
@icon-services-arrow-normal: 0px 15px 0px -15px 12px 21px 219px 1886px '../img/sprites/spritesheet.png';
@icon-slider-next-hover-x: 0px;
@icon-slider-next-hover-y: 573px;
@icon-slider-next-hover-offset-x: 0px;
@icon-slider-next-hover-offset-y: -573px;
@icon-slider-next-hover-width: 24px;
@icon-slider-next-hover-height: 42px;
@icon-slider-next-hover-total-width: 219px;
@icon-slider-next-hover-total-height: 1886px;
@icon-slider-next-hover-image: '../img/sprites/spritesheet.png';
@icon-slider-next-hover: 0px 573px 0px -573px 24px 42px 219px 1886px '../img/sprites/spritesheet.png';
@icon-slider-next-x: 0px;
@icon-slider-next-y: 531px;
@icon-slider-next-offset-x: 0px;
@icon-slider-next-offset-y: -531px;
@icon-slider-next-width: 24px;
@icon-slider-next-height: 42px;
@icon-slider-next-total-width: 219px;
@icon-slider-next-total-height: 1886px;
@icon-slider-next-image: '../img/sprites/spritesheet.png';
@icon-slider-next: 0px 531px 0px -531px 24px 42px 219px 1886px '../img/sprites/spritesheet.png';
@icon-slider-prev-hover-x: 0px;
@icon-slider-prev-hover-y: 699px;
@icon-slider-prev-hover-offset-x: 0px;
@icon-slider-prev-hover-offset-y: -699px;
@icon-slider-prev-hover-width: 24px;
@icon-slider-prev-hover-height: 42px;
@icon-slider-prev-hover-total-width: 219px;
@icon-slider-prev-hover-total-height: 1886px;
@icon-slider-prev-hover-image: '../img/sprites/spritesheet.png';
@icon-slider-prev-hover: 0px 699px 0px -699px 24px 42px 219px 1886px '../img/sprites/spritesheet.png';
@icon-slider-prev-x: 0px;
@icon-slider-prev-y: 657px;
@icon-slider-prev-offset-x: 0px;
@icon-slider-prev-offset-y: -657px;
@icon-slider-prev-width: 24px;
@icon-slider-prev-height: 42px;
@icon-slider-prev-total-width: 219px;
@icon-slider-prev-total-height: 1886px;
@icon-slider-prev-image: '../img/sprites/spritesheet.png';
@icon-slider-prev: 0px 657px 0px -657px 24px 42px 219px 1886px '../img/sprites/spritesheet.png';
@icon-support-1-x: 0px;
@icon-support-1-y: 1806px;
@icon-support-1-offset-x: 0px;
@icon-support-1-offset-y: -1806px;
@icon-support-1-width: 80px;
@icon-support-1-height: 80px;
@icon-support-1-total-width: 219px;
@icon-support-1-total-height: 1886px;
@icon-support-1-image: '../img/sprites/spritesheet.png';
@icon-support-1: 0px 1806px 0px -1806px 80px 80px 219px 1886px '../img/sprites/spritesheet.png';
@icon-support-2-x: 0px;
@icon-support-2-y: 1566px;
@icon-support-2-offset-x: 0px;
@icon-support-2-offset-y: -1566px;
@icon-support-2-width: 80px;
@icon-support-2-height: 80px;
@icon-support-2-total-width: 219px;
@icon-support-2-total-height: 1886px;
@icon-support-2-image: '../img/sprites/spritesheet.png';
@icon-support-2: 0px 1566px 0px -1566px 80px 80px 219px 1886px '../img/sprites/spritesheet.png';
@icon-support-3-x: 0px;
@icon-support-3-y: 1646px;
@icon-support-3-offset-x: 0px;
@icon-support-3-offset-y: -1646px;
@icon-support-3-width: 80px;
@icon-support-3-height: 80px;
@icon-support-3-total-width: 219px;
@icon-support-3-total-height: 1886px;
@icon-support-3-image: '../img/sprites/spritesheet.png';
@icon-support-3: 0px 1646px 0px -1646px 80px 80px 219px 1886px '../img/sprites/spritesheet.png';
@icon-support-4-x: 0px;
@icon-support-4-y: 1726px;
@icon-support-4-offset-x: 0px;
@icon-support-4-offset-y: -1726px;
@icon-support-4-width: 80px;
@icon-support-4-height: 80px;
@icon-support-4-total-width: 219px;
@icon-support-4-total-height: 1886px;
@icon-support-4-image: '../img/sprites/spritesheet.png';
@icon-support-4: 0px 1726px 0px -1726px 80px 80px 219px 1886px '../img/sprites/spritesheet.png';
@icon-touragencies-lg-x: 0px;
@icon-touragencies-lg-y: 447px;
@icon-touragencies-lg-offset-x: 0px;
@icon-touragencies-lg-offset-y: -447px;
@icon-touragencies-lg-width: 44px;
@icon-touragencies-lg-height: 42px;
@icon-touragencies-lg-total-width: 219px;
@icon-touragencies-lg-total-height: 1886px;
@icon-touragencies-lg-image: '../img/sprites/spritesheet.png';
@icon-touragencies-lg: 0px 447px 0px -447px 44px 42px 219px 1886px '../img/sprites/spritesheet.png';
@icon-tours-x: 0px;
@icon-tours-y: 1286px;
@icon-tours-offset-x: 0px;
@icon-tours-offset-y: -1286px;
@icon-tours-width: 71px;
@icon-tours-height: 70px;
@icon-tours-total-width: 219px;
@icon-tours-total-height: 1886px;
@icon-tours-image: '../img/sprites/spritesheet.png';
@icon-tours: 0px 1286px 0px -1286px 71px 70px 219px 1886px '../img/sprites/spritesheet.png';
@icon-windows-1-x: 0px;
@icon-windows-1-y: 133px;
@icon-windows-1-offset-x: 0px;
@icon-windows-1-offset-y: -133px;
@icon-windows-1-width: 32px;
@icon-windows-1-height: 28px;
@icon-windows-1-total-width: 219px;
@icon-windows-1-total-height: 1886px;
@icon-windows-1-image: '../img/sprites/spritesheet.png';
@icon-windows-1: 0px 133px 0px -133px 32px 28px 219px 1886px '../img/sprites/spritesheet.png';
@icon-windows-2-x: 0px;
@icon-windows-2-y: 105px;
@icon-windows-2-offset-x: 0px;
@icon-windows-2-offset-y: -105px;
@icon-windows-2-width: 32px;
@icon-windows-2-height: 28px;
@icon-windows-2-total-width: 219px;
@icon-windows-2-total-height: 1886px;
@icon-windows-2-image: '../img/sprites/spritesheet.png';
@icon-windows-2: 0px 105px 0px -105px 32px 28px 219px 1886px '../img/sprites/spritesheet.png';
@icon-windows-3-x: 0px;
@icon-windows-3-y: 161px;
@icon-windows-3-offset-x: 0px;
@icon-windows-3-offset-y: -161px;
@icon-windows-3-width: 32px;
@icon-windows-3-height: 28px;
@icon-windows-3-total-width: 219px;
@icon-windows-3-total-height: 1886px;
@icon-windows-3-image: '../img/sprites/spritesheet.png';
@icon-windows-3: 0px 161px 0px -161px 32px 28px 219px 1886px '../img/sprites/spritesheet.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
